body {
  font-family: 'Raleway', sans-serif;
  background: #f2f2f2;
}

h4, span {
  margin-left: 5%;
}

li {
  list-style: none;
  margin-left: -30px;
}

.form {
  width: 40%;
  display: block !important;
  margin: 20px auto !important;
  text-align: center;
}

.form-control {
  width: 100%;
  display: block !important;
  margin: 0 auto !important;
}

.buttons {
  text-align: center;
}

.cover {
  width: 25em;
  height: 25em;
}

.icon {
  display: block;
  margin: 0 auto;
  width: 40px;
}

.logo {
  display: block;
  margin: 20px auto;
}

.btn {
  background: #FFFFFF;
  color: #000000;
  border: 1px solid #000000;
}

.well {
  background: #FFFFFF !important;
}
