h1 {
  text-align: center;
}

h4, span {
  margin-left: 5%;
}

.form {
  width: 40%;
  display: block !important;
  margin: 0 auto !important;
  text-align: center;
}

.form-control {
  width: 100%;
  display: block !important;
  margin: 0 auto !important;
}

.buttons {
  text-align: center;
}

.cover {
  width: 25em;
  height: 25em;
}

.icon {
  display: block;
  margin: 0 auto;
  width: 40px;
}

.btn {
  background: #FFFFFF;
  color: #000000;
  border: 1px solid #000000;
}

.well {
  background: #FFFFFF !important;
}
