body {
  font-family: 'Raleway', sans-serif;
  background: #f2f2f2;
}

h4, span {
  margin-left: 5%;
}

li {
  list-style: none;
  margin-left: -30px;
}

textarea {
  width: 95%;
  height: 30%;
  resize: none;
  display: block;
  margin: 10px auto;
}

.thumbnail {
  height: 33em;
}

.form {
  width: 40%;
  display: block !important;
  margin: 10px auto !important;
  text-align: center;
}

.form-control {
  width: 100%;
  display: block !important;
  margin: 0 auto !important;
}

.buttons {
  text-align: center;
}

.cover {
  width: 25em;
  height: 25em;
}

.icon {
  display: block;
  margin: 0 auto;
  width: 40px;
}

.btn {
  background: #FFFFFF;
  color: #000000;
  border: 1px solid #000000;
  box-shadow: 1px 1px;
}

.well {
  background: #FFFFFF !important;
}

#header {
  position: fixed;
  height: 210px;
  width: 100%;
  top: 0;
  left: 0;
  background: #f2f2f2;
  z-index: 999999;
}

#logo {
  display: block;
  margin: 10px auto;
}

#spacer {
  width: 100%;
  height: 210px;
}

#remove {
  width: 18px;
  height: auto;
}

#name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

#price {
  text-align: right;
}

#checkout {
  margin-top: -0.5em !important;
}

#total {
  margin-left: 1%;
}

#addReview {
top: 30%;
outline: none;
}

#reviews {
  margin-left: 1%;
  margin-right: 1%;
}

#review-text {
  font-style: italic;
}
